{% extends 'admin/base.twig' %}

{% block content %}
	<div class="container">
		<div class="col-md-4 col-md-offset-4">
			<h1>Reset password</h1>
			<p>If your email address is found, you will receive a message with instructions on how to proceed.</p>
			<form class="form" action="" method="post" accept-charset="utf-8">
				<label class="form-group">Email
					<input class="form-control" type="email" name="email" required autofocus>
				</label>
				<div class="form-group">
					<button class="btn btn-success" type="submit">Send</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}

{% block nav %}
	{% include 'admin/partial/navigation.twig' %}
{% endblock %}

{% block title %}Reset password{% endblock %}